//background color

$bgc-primary-color: #002953;
$bgc-secondary-color: #002d5b;

//font color
$color-primary-white: #ffff;
$color-white-gray: #e3e3e3;

$color-gray-black: #667085;

//FONT
$default-font-size: 1.6rem;
