*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  color: #ffffff;
  background-color: #f9f9ff;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.para-small {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2.4rem;
  font-weight: 400;
  line-height: 30px;
  color: #e3e3e3;
  max-width: 73rem;
}

.para-small-1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2.4rem;
  font-weight: 400;
  line-height: 30px;
  color: #667085;
  max-width: 73rem;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 0;
}
.nav li {
  list-style: none;
  justify-self: center;
  align-self: center;
}
.nav-left-contain {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-items: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.nav-left-contain a:link,
.nav-left-contain a:visited {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  font-weight: 700;
}
.nav-left-contain a:link:hover,
.nav-left-contain a:visited:hover {
  border-bottom: 1.5px solid gray;
}
.nav-left-contain img[alt=company-logo] {
  height: 8vh;
  padding-right: 0.8rem;
}
.nav-left-contain img[alt=catalog-logo] {
  height: 4.3vh;
}
.nav-left-contain img[alt=down-arrow] {
  height: 1.2rem;
  margin-left: 1rem;
}
.nav-left-contain img[alt=search-logo] {
  height: 4vh;
}
.nav-right-contain {
  justify-self: end;
  align-self: center;
  padding-right: 10rem;
}
.nav-right-contain img[alt=search-logo] {
  height: 4vh;
  width: 4vw;
}
.nav-right-contain img[alt=search-logo]:hover {
  border-bottom: 3px solid gray;
}

.nav_container {
  display: none;
}

@media (max-width: 1016px) {
  .nav {
    grid-template-columns: repeat(4, 1fr);
  }
  .nav-left-contain {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
@media (max-width: 906px) {
  .nav {
    grid-template-columns: repeat(5, 1fr);
  }
  .nav-left-contain {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}
@media (max-width: 855px) {
  .nav {
    grid-template-columns: repeat(5, 1fr);
  }
  .nav-left-contain {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
}
@media (max-width: 775px) {
  .nav-left-contain a:link,
  .nav-left-contain a:visited {
    font-size: 1.5rem;
  }
  .nav-left-contain a:link:hover,
  .nav-left-contain a:visited:hover {
    border-bottom: 1.5px solid gray;
  }
  .nav-left-contain img[alt=company-logo] {
    height: 5vh;
    padding-right: 0.8rem;
  }
  .nav-left-contain img[alt=catalog-logo] {
    height: 3vh;
  }
  .nav-left-contain img[alt=down-arrow] {
    margin-left: 1rem;
  }
}
@media (max-width: 642px) {
  .nav-left-contain a:link,
  .nav-left-contain a:visited {
    font-size: 1rem;
  }
  .nav-left-contain a:link:hover,
  .nav-left-contain a:visited:hover {
    border-bottom: 1.5px solid gray;
  }
  .nav-left-contain img[alt=company-logo] {
    height: 4vh;
    padding-right: 0.4rem;
  }
  .nav-left-contain img[alt=catalog-logo] {
    height: 3vh;
  }
  .nav-left-contain img[alt=down-arrow] {
    width: 3vw;
    margin: 0 0.3rem;
    margin-top: 1rem;
  }
  .nav-right-contain {
    padding-top: 1rem;
  }
  .nav-right-contain img[alt=search-logo] {
    height: 3vh;
    width: 3.5vw;
  }
  .nav-right-contain img[alt=search-logo]:hover {
    border-bottom: 3px solid gray;
  }
}
.btn:link, .btn:visited {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  padding: 1.6rem 2.8rem;
  color: white;
  border-radius: 8px;
  border: 1px solid #ffe500;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  text-decoration: none;
}

.buttons {
  display: flex;
  align-items: center;
}

.link-btn:link, .link-btn:visited {
  text-decoration: none;
  color: #1d6fa3;
  font-size: 2rem;
  font-weight: 700;
}

.news__button {
  text-align: center;
  padding: 1.5rem 4rem;
  border-radius: 0.4rem;
  border: 1px solid #1d6fa3;
}
.news__button a:link, .news__button a:visited {
  text-decoration: none;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  color: #24272e;
}

.resources__button {
  text-align: center;
  padding: 1.5rem 4rem;
  border-radius: 0.4rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border: 1px solid #1d6fa3;
  margin: 2.5rem auto;
}
.resources__button a:link, .resources__button a:visited {
  text-decoration: none;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  color: #24272e;
}

.campaigns__collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-self: center;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}

.campaigns__album {
  justify-self: center;
  max-height: 80rem;
  max-width: 30.5rem;
  background-color: #ffffff;
  border-radius: 4rem;
}
.campaigns__album-photo img {
  height: 55vh;
}
.campaigns__album-heading {
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  color: #24272e;
  font-size: 1.8rem;
}
.campaigns__album-para {
  max-width: 35rem;
  font-size: 1.6rem;
  color: #7c7d82;
  font-weight: 500;
  line-height: 2.1rem;
  display: inline-block;
}
.campaigns__album-info {
  padding: 4rem;
  display: flex;
  row-gap: 2rem;
  flex-direction: column;
}
.campaigns__album-buttons {
  display: flex;
  flex-direction: row;
  text-align: center;
  row-gap: 0.4rem;
}

img[alt=arrow-forward] {
  height: 3.7vh;
}

@media (max-width: 1080px) {
  .campaigns__collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-self: center;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    row-gap: 4rem;
  }
}
@media (max-width: 780px) {
  .campaigns__collection {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-self: center;
    row-gap: 4rem;
  }
}
.news__sample {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  row-gap: 4rem;
}
.news__sample__card {
  padding: 0 1rem;
  border-radius: 20px;
  background: #f9f9ff;
  display: flex;
  flex-direction: column;
  row-gap: 2.2rem;
}
.news__sample__card-heading {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 600;
  color: black;
  line-height: 3.6rem;
  max-width: 35rem;
}
.news__sample__card-para {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #505258;
  max-width: 40rem;
}

img[alt=newsPhoto] {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}

@media (max-width: 1115px) {
  .news__sample {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 760px) {
  .news__sample {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5rem;
  }
}
.resources__contain {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  -moz-column-gap: 3.5rem;
       column-gap: 3.5rem;
}

.resources__contain-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 3.5rem;
  padding: 4rem;
  border-radius: 2.183rem;
}

.resource__contain-logo {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.resource__contain-logo span {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.7rem;
  color: #66686d;
}

.resources__contain-heading h3 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.6rem;
  color: #24272e;
}

.resources__contain-para p {
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  max-width: 35rem;
  color: #7c7d82;
}

img[alt=resources-logo] {
  padding: 2.5rem;
  background-color: #f8f1ff;
  border-radius: 1.9rem;
}

@media (max-width: 1089px) {
  .resources__contain {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 785px) {
  .resources__contain {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .resources__contain-card {
    justify-self: center;
    align-self: center;
  }
}
.contactUs__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.5rem;
  padding: 3.2rem;
  justify-content: center;
  align-items: center;
}
.contactUs__form label {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #24272e;
}
.contactUs__form input {
  font-weight: 700;
  display: flex;
  border-radius: 8px;
  width: 34rem;
  border: 1px solid rgba(0, 0, 0, 0.16);
  padding: 1.5rem;
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  font-size: 2rem;
}
.contactUs__form textarea {
  padding: 2rem;
  height: 11.7rem;
  border-radius: 8px;
  width: 69rem;
  border: 1px solid rgba(0, 0, 0, 0.16);
  resize: none;
  font-size: 2rem;
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.contactUs__form-personDetail {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.contactUs__form-personEmail input {
  width: 69rem;
}
.contactUs__form-personEmail, .contactUs__form-message, .contactUs__form-btn {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}
.contactUs__form-btn {
  padding-left: 20rem;
}
.contactUs__form-btn .submit {
  padding: 2rem 2.5rem;
  background-color: transparent;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 4px;
  border: 1.5px solid #1d6fa3;
  color: #24272e;
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 610px) {
  .contactUs__form {
    row-gap: 2rem;
    padding: 3.2rem;
  }
  .contactUs__form label {
    font-size: 1.5rem;
  }
  .contactUs__form input {
    width: 21rem;
    padding: 1rem;
  }
  .contactUs__form textarea {
    height: 10rem;
    width: 45rem;
  }
  .contactUs__form-personEmail input {
    width: 45rem;
  }
  .contactUs__form-btn {
    padding-left: 8rem;
  }
  .contactUs__form-btn .submit {
    padding: 2rem 2.5rem;
    background-color: transparent;
    max-width: -moz-fit-content;
    max-width: fit-content;
    border-radius: 4px;
    border: 1.5px solid #1d6fa3;
    color: #24272e;
    font-size: 2rem;
    font-weight: 600;
  }
}
.catalog__leftContent {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  max-width: 30rem;
  row-gap: 2rem;
  padding-left: 4.5rem;
}
.catalog__leftContent--logo {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  justify-content: start;
  align-items: end;
}
.catalog__leftContent--logo img[alt=logomark] {
  height: 10vh;
}
.catalog__leftContent--logo img[alt=logotype] {
  width: 10vw;
}
.catalog__leftContent--desc p {
  color: #ffffff;
  font-size: 1.6rem;
}
.catalog__leftContent--icons {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.catalog__leftContent--icons img[alt=social-icons] {
  height: 6vh;
}
.catalog__links {
  grid-column-start: 4;
  grid-column-end: 6;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  justify-self: end;
  align-self: center;
  flex-wrap: nowrap;
}
.catalog__links h3 {
  font-size: 1.8rem;
  color: #ffffff;
}
.catalog__links .catalog__links-collection {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  row-gap: 3rem;
  flex-wrap: nowrap;
}
.catalog__resources {
  grid-column-start: 6;
  grid-column-end: 8;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  justify-self: center;
  align-self: center;
  padding-bottom: 4.5rem;
}
.catalog__resources h3 {
  font-size: 1.8rem;
  color: #ffffff;
}
.catalog__resources-collection {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  row-gap: 3rem;
}
.catalog__rightContent {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  justify-self: start;
  align-self: center;
  padding-bottom: 9rem;
}
.catalog__rightContent h3 {
  font-size: 1.8rem;
  color: #ffffff;
}
.catalog__rightContent-collection {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  row-gap: 3rem;
}

@media (max-width: 932px) {
  .catalog__rightContent h3, .catalog__resources h3, .catalog__links h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 799px) {
  .catalog__rightContent h3, .catalog__resources h3, .catalog__links h3 {
    font-size: 1.3rem;
  }
}
@media (max-width: 683px) {
  .catalog__leftContent {
    max-width: 30rem;
    row-gap: 3.5rem;
    padding-left: 2rem;
  }
  .catalog__leftContent--logo {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .catalog__leftContent--logo img[alt=logomark] {
    height: 8vh;
  }
  .catalog__leftContent--logo img[alt=logotype] {
    width: 8vw;
  }
  .catalog__leftContent--desc p {
    color: #ffffff;
    font-size: 1rem;
  }
  .catalog__leftContent--icons {
    display: flex;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
  .catalog__leftContent--icons img[alt=social-icons] {
    height: 4vh;
  }
  .catalog__rightContent h3, .catalog__resources h3, .catalog__links h3 {
    font-size: 1rem;
  }
}
@media (max-width: 526px) {
  .catalog__rightContent {
    padding-top: 1.5rem;
  }
}
.footer-anchor:visited, .footer-anchor:link {
  text-decoration: none;
  color: #ffffff;
  font-family: DM Sans;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 0px;
}

@media (max-width: 799px) {
  .footer-anchor:visited, .footer-anchor:link {
    font-size: 1.3rem;
  }
}
.resourceDropDown {
  visibility: hidden;
  position: absolute;
  top: 4rem;
  left: 70rem;
  padding: 4rem;
  height: 40rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  background-color: #ffffff;
  margin: 4rem auto;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
}
.resourceDropDown__content {
  display: flex;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.resourceDropDown h3 {
  color: #101828;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin-bottom: 0.5rem;
}
.resourceDropDown p {
  color: #667085;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}
.resourceDropDown img[alt=icon] {
  height: 5.5vh;
}

@media (max-width: 1115px) {
  .resourceDropDown {
    left: 58rem;
    top: 2rem;
  }
}
@media (max-width: 915px) {
  .resourceDropDown {
    left: 38rem;
    top: 2rem;
  }
}
@media (max-width: 668px) {
  .resourceDropDown {
    left: 15rem;
    top: 2rem;
  }
}
.searchBox {
  visibility: hidden;
  padding: 3rem 0;
  display: flex;
  position: relative;
  left: -5rem;
  border-radius: 1.5rem;
  justify-content: center;
}
.searchBox img[alt=search-img] {
  height: 4vh;
  position: relative;
  top: 1.5rem;
  right: -8rem;
}
.searchBox img[alt=frame] {
  position: relative;
  top: -3rem;
}
.searchBox span {
  color: #62696f;
  position: relative;
  top: 1.5rem;
  right: -9rem;
}
.searchBox .searchInput {
  padding: 1.7rem 0;
  border: 1px solid white;
  border-radius: 1rem;
  padding-right: 35rem;
  padding-left: 9rem;
  font-size: 2rem;
}

@media (max-width: 800px) {
  .searchBox .searchInput {
    padding-right: 10rem;
  }
  .searchBox .searchInput img[alt=search-img] {
    height: 4vh;
    position: relative;
    left: -19rem;
  }
  .searchBox .searchInput span {
    color: #62696f;
    position: relative;
    left: -18rem;
  }
}
.main-header {
  background-image: linear-gradient(rgba(0, 41, 83, 0.8) 0%, rgba(0, 45, 91, 0.8) 100%), url("../assets/heroBackgroundImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 12% 60%;
  height: 125vh;
}
.main-header #resouce {
  display: none;
}

.header__contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.header__contain h3 {
  font-size: 6rem;
  color: white;
  text-align: center;
}

.campaigns {
  padding: 16rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}
.campaigns__header, .campaigns__intro {
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  color: #24272e;
  font-size: 3.2rem;
}

@media (max-width: 800px) {
  .campaigns__header, .campaigns__intro {
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    color: #24272e;
    font-size: 2.5rem;
    max-width: 50rem;
  }
}
.pageInfo {
  background-color: #f9f9ff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: end;
  align-content: end;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 10rem;
}
.pageInfo img[alt=img] {
  height: 40rem;
  border-radius: 1.6rem;
}
.pageInfo__LeftContent {
  justify-self: end;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  justify-self: center;
  row-gap: 2rem;
}
.pageInfo__LeftContent h3 {
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  color: #24272e;
  font-size: 4.5rem;
}
.pageInfo__LeftContent p {
  font-size: 2.2rem;
  margin-bottom: 2.4rem;
  font-weight: 400;
  color: #505258;
}
.pageInfo__LeftContent-buttons {
  padding-top: 2.8rem;
  display: flex;
  row-gap: 0.4rem;
}
.pageInfo__MiddleContent {
  justify-self: end;
}
.pageInfo__MiddleContent h4 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.2rem;
  color: #24272e;
}
.pageInfo__MiddleContent figure {
  padding-bottom: 14rem;
}
.pageInfo__RightContent {
  justify-self: end;
  display: flex;
  flex-direction: column;
}
.pageInfo__RightContent h4 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.2rem;
  color: #24272e;
}
.pageInfo__RightContent-RightImg {
  margin-top: 14rem;
}
.pageInfo__RightContent-LastImg {
  margin-top: 14rem;
}

@media (max-width: 1192px) {
  .pageInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4rem;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
  .pageInfo__LeftContent {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    max-width: 100rem;
    align-self: center;
  }
  .pageInfo__LeftContent h3 {
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    color: #24272e;
    font-size: 4.5rem;
    text-align: center;
  }
  .pageInfo__LeftContent p {
    text-align: center;
  }
  .pageInfo__LeftContent-button {
    margin: 0 auto;
  }
  .pageInfo__RightContent {
    justify-self: start;
  }
}
@media (max-width: 780px) {
  .pageInfo {
    display: grid;
    grid-template-columns: 1fr;
  }
  .pageInfo__RightContent {
    align-self: end;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .pageInfo__RightContent h3 {
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    color: #24272e;
    font-size: 4.5rem;
    text-align: center;
  }
}
.socialIcons {
  background-color: #f9f9ff;
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10rem;
       column-gap: 10rem;
  flex-wrap: wrap;
}
.socialIcons img[alt=logo] {
  height: 8vh;
}
.socialIcons img[alt=logoType] {
  height: 4vh;
  padding-bottom: 0.5rem;
}
.socialIcons img[alt=arrow] {
  height: 4vh;
}

@media (max-width: 1280px) {
  .socialIcons {
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
  .socialIcons img[alt=logo] {
    height: 5vh;
  }
  .socialIcons img[alt=logoType] {
    height: 3vh;
    padding-bottom: 0.5rem;
  }
  .socialIcons img[alt=arrow] {
    height: 2vh;
  }
}
@media (max-width: 728px) {
  .socialIcons {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .socialIcons img[alt=logo] {
    height: 4vh;
  }
  .socialIcons img[alt=logoType] {
    height: 2svh;
    padding-bottom: 0.5rem;
  }
  .socialIcons img[alt=arrow] {
    height: 2vh;
  }
}
.news {
  padding: 8rem 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5rem;
}
.news__Info {
  text-align: center;
}
.news__Info h3 {
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  color: #24272e;
  font-size: 4rem;
}
.news__Info-para {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2.4rem;
  font-weight: 400;
  line-height: 30px;
  color: #505258;
  max-width: 73rem;
  max-width: 65rem;
  margin: 3.2rem 0;
}

.resources {
  background: #f9f9ff;
  padding: 8rem 12rem;
  row-gap: 3.2rem;
}
.resources__heading {
  text-align: center;
}
.resources__heading h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  color: #24272e;
}
.resources__heading p {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  max-width: 60rem;
  padding-top: 3.2rem;
}

.contactUs {
  padding: 9rem 16rem;
}
.contactUs__heading {
  text-align: center;
}
.contactUs__heading h1 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  color: #24272e;
}
.contactUs__heading p {
  display: inline-block;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #7c7d82;
  margin: 3.2rem 0;
  max-width: 50rem;
}

@media (max-width: 610px) {
  .contactUs {
    padding: 4rem 8rem;
  }
  .contactUs__heading h1 {
    font-size: 4rem;
  }
  .contactUs__heading p {
    font-size: 2rem;
  }
}
.catalog {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-image: linear-gradient(-180deg, rgba(36, 39, 46, 0.851), rgba(10, 81, 148, 0.851) 100%, rgba(9, 49, 87, 0.851)), url(/assets/unsplash_SPpsFbCaN2A.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 73vh;
}

.copyright {
  background-color: #f9f9ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 0;
}
.copyright__leftContent {
  padding-left: 16rem;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  color: #7c7d82;
}
.copyright__rightContent {
  padding-right: 2rem;
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.copyright img[alt=arrow-upward] {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10rem;
  box-shadow: 0 1.5rem 4rem rgba(255, 255, 255, 0.2);
}

@media (max-width: 800px) {
  .copyright__leftContent {
    padding-left: 1rem;
  }
  .copyright img[alt=arrow-upward] {
    background-color: #ffffff;
    padding: 2rem;
  }
  .copyright img[alt=cc-logo] {
    margin: auto auto;
    height: 3.5vh;
  }
}/*# sourceMappingURL=main.css.map */