.catalog {
  &__leftContent {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    align-self: center;
    // justify-self: center;
    flex-direction: column;
    row-gap: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;

    &--logo {
      display: flex;
      column-gap: 2rem;
      justify-content: start;
      align-items: end;
      img[alt="logomark"] {
        height: 10vh;
      }
      img[alt="logotype"] {
        width: 10vw;
      }
    }
    &--desc {
      p {
        color: #ffffff;
        font-size: 1.6rem;
      }
    }
    &--icons {
      display: flex;
      column-gap: 2rem;
      img[alt="social-icons"] {
        height: 6vh;
      }
    }
  }
  &__links {
    grid-column-start: 4;
    grid-column-end: 6;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    justify-self: end;
    align-self: center;
    flex-wrap: nowrap;
    h3 {
      font-size: 1.8rem;
      color: #ffffff;
    }
    .catalog__links-collection {
      display: flex;
      flex-direction: column;
      column-gap: 4rem;
      row-gap: 3rem;
      flex-wrap: nowrap;
    }
  }
  &__resources {
    grid-column-start: 6;
    grid-column-end: 8;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    justify-self: center;
    align-self: center;
    padding-bottom: 4.5rem;
    h3 {
      font-size: 1.8rem;
      color: #ffffff;
    }
    &-collection {
      display: flex;
      flex-direction: column;
      column-gap: 4rem;
      row-gap: 3rem;
    }
  }
  &__rightContent {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    justify-self: start;
    align-self: center;
    padding-bottom: 9rem;
    h3 {
      font-size: 1.8rem;
      color: #ffffff;
    }
    &-collection {
      display: flex;
      flex-direction: column;
      column-gap: 4rem;
      row-gap: 3rem;
    }
  }
}
@media (max-width: 932px) {
  .catalog {
    &__rightContent,
    &__resources,
    &__links {
      h3 {
        font-size: 1.5rem;
      }
    }
  }
}
@media (max-width: 799px) {
  .catalog {
    img[alt="logomark"] {
      height: 6vh;
    }
    &__rightContent,
    &__resources,
    &__links {
      h3 {
        font-size: 1.3rem;
      }
    }
  }
}
@media (max-width: 683px) {
  .catalog {
    &__leftContent {
      max-width: 30rem;
      row-gap: 3.5rem;
      padding-left: 2rem;

      &--logo {
        column-gap: 1rem;

        img[alt="logomark"] {
          height: 4vh;
        }
        img[alt="logotype"] {
          width: 8vw;
        }
      }
      &--desc {
        p {
          color: #ffffff;
          font-size: 1rem;
        }
      }
      &--icons {
        display: flex;
        column-gap: 1.5rem;
        img[alt="social-icons"] {
          height: 3vh;
        }
      }
    }
    &__rightContent,
    &__resources,
    &__links {
      padding-top: 5rem;
      h3 {
        font-size: 1rem;
      }
    }
  }
}
// @media (max-width: 526px) {
//   .catalog {
//     &__rightContent {
//       padding-top: 5rem;
//     }
//     &__links,
//     &__resources {
//       padding-top: 5rem;
//     }
//   }
// }
